{% extends "base_app/base.html" %}
{% block body_block %}



  <div class="col-md-12 col-lg-12 float-left col-12 no-padding mt_20">
    <div class="col-md-3 float-left col-12 pl_0">
      <div class="common_container dasboard_box bg_1">
        <span class="icon_set icon-package doashbord_icon"></span>
        <span class="doashbord_big_text">{{order_count}}</span>
        <h1 class="primary_title w-100">TOTAL ORDER</h1>

      </div>
    </div>
    <div class="col-md-3 float-left col-12 pl_0">
      <div class="common_container dasboard_box bg_2">
        <span class="icon_set icon-delivery-truck doashbord_icon"></span>
        <span class="doashbord_big_text">{{order_delivered}}</span>
        <h1 class="primary_title w-100">ORDER DELIVERED</h1>

      </div>
    </div>
    <div class="col-md-3 float-left col-12 pl_0">
      <div class="common_container dasboard_box bg_3">
        <span class="icon_set icon-group doashbord_icon"></span>
        <span class="doashbord_big_text">{{customers_count}}</span>
        <h1 class="primary_title w-100">CUSTOMERS</h1>

      </div>
    </div>
    <div class="col-md-3 float-left col-12 pl_0">
      <div class="common_container dasboard_box bg_4">
        <span class="icon_set icon-avatar doashbord_icon"></span>
        <span class="doashbord_big_text">{{delivery_boy_count}}</span>
        <h1 class="primary_title w-100">DELIVERY BOY</h1>

      </div>
    </div>
  </div>
<div class="col-md-6 col-12 col-lg-6 float-left pt_30 pl_0">

  <div class="common_container p_15">
    <h1 class="header_title w-100 mt_10">Delivery Boy</h1>
    <ul class="worker_list pt_15">


<!-- delivery_agents -->

{% for user in delivery_agents %}

<li>
  <div class="workers_box">
      {% if user.user_profile.profile_pic %}
    <img src="{{ user.user_profile.profile_pic.url }}" >
    {% else %}
    <img src="" >
    {% endif %}
    <div class="workers_caption">
      <span class="workers_name">{{ user.user_meta.username }}</span>
      <span class="workers_location">
        {{ user.user_profile.location_area }} ,
        {{ user.user_profile.location_sublocality }}
      </span>
  </div>
  </div>
</li> <!--========== END of LI Tags =========-->
{% endfor %}


    </ul>
  </div>
</div>

{% endblock %}
